.cuerpo {
    margin-left: 22%;
    margin-right: 23%;
    width: 900px;
    height: 600px;
    background-color:darkgrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    

}
.foto {
    image-rendering: optimizeQuality;
    text-align: center;
    font-family: cursive;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 90%;
    width: 900px;
    height: 200px;
    background-color: white;
}

.menu {
    position: relative;
    width: 850px;
    height: 400px;
    margin-right: 85%;
    background-color: white;
    padding-left: 50px;
    text-align: justify;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    

}

.container {
    position: relative;
    bottom: 520px;
    left: 140px;
    padding-left: 10px;
    padding-right: 10px;
    width: 720px;
    height: 330px;
    margin-right: 160px;
    text-align: justify;
    background-color: white;
    border-color: gray;
    border-width: 1px;
    border-style:solid;
    font-size: 2,5ch;
    font-family:sans-serif;
    box-shadow: 0px  10px rgba(243, 243, 243, 0.945) inset;

}

.h1 {
    color: green;
    font-size:3ch;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 440px;
    left: 150px;
    width: 280px;
    height: 50px;
    background-color: white;
    
}
.h1-1{
    color:rgb(173, 77, 39);
    font-size:3ch;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 508px;
    left: 430px;
    width: 290px;
    height: 50px;
    background-color: white;
    
}

.h2 {
    color: rgb(42, 209, 42);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 130%;
}

.inicio{
    position: relative;
    top: 30px;
    padding-bottom: 15px;
    width: 100px;
    height: 14px;
    right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 90%;
    text-align: center;
    line-height: 30px;
    border: #d3d3d3 1px solid;
    background-color: #fff;
    background-image: url(/Ejercicio5/img/menu_activa.png)
    
    
}

.especies{
    position: relative;
    top: 30px;
    width: 100px;
    height: 25px;
    right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 90%;
    text-align: center;
    line-height: 30px;
    border: #d3d3d3 1px solid;
    background-color: #fff;
    background-image: url(/Ejercicio5/img/menu_normal.png)
}

.reservas{
    position: relative;
    top: 30px;
    width: 100px;
    height: 25px;
    right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 90%;
    text-align: center;
    line-height: 30px;
    border: #d3d3d3 1px solid;
    background-color: #fff;
    background-image: url(/Ejercicio5/img/menu_normal.png)
}

.galeria{
    position: relative;
    width: 100px;
    top: 30px;
    height: 25px;
    right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 90%;
    text-align: center;
    line-height: 30px;
    border: #d3d3d3 1px solid;
    background-color: #fff;
    background-image: url(/Ejercicio5/img/menu_normal.png)
}